<!-- 继承base.html -->
{{extend '../_layouts/base.html'}}
{{block 'head'}}
<link rel="stylesheet" href="/stylesheets/collection.css"/>
{{/block}}

{{block 'content'}}
<div class="main_container">
    <div class="inner_container">
        {{if collection.length !== 0}}
        {{each collection}}
        <div class="collection_box">
            <div class="collection_inner">
                <i class="icon_collection" id="{{$value._id}}" onclick="deleteCol(this)"></i>
                <span>{{$value.cardDescription}}</span>
                <div class="collection_bottom">
                    <ul>
                        <li class="collection_title">《{{$value.cardTitle}}》</li>
                        <li>by <a href="#" class="collection_name">{{$value.userName}}</a></li>
                        <li>{{@$value.time}}</li>
                    </ul>
                </div>
            </div>
        </div>
        {{/each}}
        {{else}}
        <div class="no_collection">
                <span id="no_col">—— 您暂时还没有收藏哦 ——</span>
        </div>
        {{/if}}
    </div>
</div>
{{/block}}

{{block 'script'}}
<script>
    //删除收藏
    function deleteCol(obj) {
        let colId = obj.id.replace(/\"/g, '');
        console.log(colId)
        $.ajax({
            url: '/collection/delete',
            dataType: "json",
            type: "post",
            data: {
                colId
            },
            success:(response)=>{
                if(response.code === 0){
                    alert('删除成功！');
                    window.location.href = '/collection'
                }
            }
        })
    }
</script>
{{/block}}