<!DOCTYPE html>
<html>
<head>
    <title>乐友网</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta name="description" content="乐友网，一个web社交网站。"/>
    <meta name="keywords" content="乐友网，NodeJs，Express，Es6，Mongodb"/>
    <meta name="author" content="Vennie"/>
    <link rel='stylesheet' href='/stylesheets/base_style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>

<!-- 内容 -->
{{block 'content'}}{{/block}}
<!-- js文件 -->
<script src="/javascripts/jquery.js"></script>
{{block 'script'}}{{/block}}
</body>
</html>
